* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

:root {
    --content-primary-text-shadow: 6;
    --content-secondary-text-shadow: 3;
    --background-color-primary: 83, 95, 98;
    --background-color-secondary: 44, 54, 57;
    /*  */
    --sticky-info-padding: 2;
    --sticky-info-container-text: 16;
    --sticky-info-container-width: 157;
    --sticky-info-border-height: 2;
    --sticky-info-border-after-height: 2;
    /*  */
    --navbar-height: 70;
    --navbar-padding: 10;
    /*  */
    --navbar-menu-gap: 20;
    --navbar-menu-padding: 10;
    /*  */
    --navbar-menu-a-padding: 8;
    --navbar-menu-a-active-border: 10;
    --navbar-menu-a-active-border-top: 12;
    --navbar-menu-a-font-size: 16;
    --navbar-menu-a-hover-border-top: 10;
    --navbar-menu-a-hover-border-left: 2;
    --navbar-menu-a-page-hover-after-right: 5;
    /*  */
    --navbar-profile-photo-width: 570;
    /*  */
    --navbar-profile-photo-after-top: 164;
    --navbar-profile-photo-after-width: 355;
    --navbar-profile-photo-after-font-size: 30;
    --navbar-profile-photo-after-padding: 6;
    --navbar-profile-photo-after-border-right: 4;
    --navbar-profile-photo-after-letter-spacing: 2;
    /*  */
    --navbar-profile-photo-img-container-top: 10;
    --navbar-profile-photo-img-container-width: 150;
    --navbar-profile-photo-img-container-border: 3;
    --navbar-profile-photo-img-top: 10;
    /*  */
    --container-margin-top: 155;
    /*  */
    --project-container-min-height: 550;
    --project-container-padding-left: 20;
    --project-container-padding-top: 5;
    /*  */
    --project-container-title-padding: 5;
    /*  */
    --project-container-title-p-font-size: 48;
    --project-container-title-p-border: 2;
    /*  */
    --project-container-project-padding: 20;
    --project-container-project-border-bottom: 2;
    /*  */
    --project-container-project-name-margin-bottom: 10;
    --project-container-project-name-hover-text-shadow: 10;
    /*  */
    --project-container-project-project-title-font-size: 33;
    --project-container-project-project-title-text-shadow: 10;
    --project-container-project-project-title-padding: 15;
    --project-container-project-project-title-margin-bottom: 10;
    /*  */
    --project-container-project-divider-gap: 20;
    /*  */
    --project-container-project-divider-project-images-column: 460;
    --project-container-project-divider-project-images-row: 270;
    --project-container-project-divider-project-images-padding: 20;
    --project-container-project-divider-project-images-gap: 10;
    /*  */
    --project-container-project-divider-project-images-item-border-radius: 10;
    --project-container-project-divider-project-images-item-hover-box-shadow: 10;
    --project-container-project-divider-project-images-item-hover-border: 2;
    /*  */
    --project-container-project-divider-project-about-gap: 50;
    --project-container-project-divider-project-about-margin: 20;
    --project-container-project-divider-project-about-padding: 20;
    --project-container-project-divider-project-about-height: 550;
    --project-container-project-divider-project-about-border: 1;
    --project-container-project-divider-project-about-border-radius: 20;
    --project-container-project-divider-project-about-clip-path-height: 60;
    --project-container-project-divider-project-about-hover-border: 1;
    /*  */
    --project-container-project-divider-project-about-span-font-size: 30;
    --project-container-project-divider-project-about-span-after-text-shadow: 10;
    /*  */
    --project-container-project-divider-project-about-p-font-size: 25;
    --project-container-project-divider-project-about-p-padding: 50;
    --project-container-project-divider-project-about-p-margin-right: 5;
    --project-container-project-divider-project-about-p-hover-margin-right: 1;
    /*  */
    --project-container-project-divider-project-about-p-scrollbar-width: 5;
    --project-container-project-divider-project-about-p-scrollbar-track-margin-top: 20;
    --project-container-project-divider-project-about-p-scrollbar-thumb-border-radius: 10;
    --project-container-project-divider-project-about-p-scrollbar-thumb-box-shadow: 5;
    --project-container-project-divider-project-about-p-scrollbar-thumb-hover-box-shadow: 2;

    /*  */
    --footer-padding: 25;
    --footer-gap: 20;
    --footer-span-font-size: 20;
    --footer-span-margin-bottom: 30;
    --footer-socials-gap: 5;
    --footer-socials-img-height: 28;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(220, 215, 201);
}

::selection {
    background-color: rgb(25, 29, 31);
    color: rgb(220, 215, 201);
    text-shadow: 0px 0px 1px white;
}

/* ROOTS */
.justify-right {
    justify-content: right !important;
}

.justify-left {
    justify-content: left !important;
}

.justify-center {
    justify-content: center !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.bg-primary {
    background-color: rgb(var(--background-color-primary)) !important;
}

.bg-secondary {
    background-color: rgb(var(--background-color-secondary)) !important;
}

.content-primary {
    color: rgb(165, 165, 165) !important;
    text-shadow: 0px 0px calc(100vw / (1920 / var(--content-primary-text-shadow))) rgb(44, 54, 57) !important;
}

.content-secondary {
    color: rgb(165, 165, 165) !important;
    text-shadow: 0px 0px calc(100vw / (1920 / var(--content-secondary-text-shadow))) rgb(83, 95, 98) !important;
}

.row {
    flex-direction: row !important;
}

.row-reverse {
    flex-direction: row-reverse !important;
}

.border-none {
    border: none !important;
}

/* ROOTS */

/* STICKY INFO */

.sticky-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(100vw / (1920 / var(--sticky-info-padding)));
    color: rgb(44, 54, 57);
    font-weight: 600;
    width: 100%;
    position: relative;
    z-index: 2;
}

.sticky-info .left-border,
.sticky-info .right-border {
    width: 30%;
    height: calc(100vw / (1920 / var(--sticky-info-border-height)));
    position: relative;
}

.sticky-info .right-border::after {
    position: absolute;
    content: '';
    right: 0;
    width: 0%;
    height: calc(100vw / (1920 / var(--sticky-info-border-after-height)));
    border-top: calc(100vw / (1920 / var(--sticky-info-border-after-height))) solid rgb(44, 54, 57);
    transition: all 1s linear;
    animation: sticky-info-border 5s infinite;
}

.sticky-info .left-border::after {
    position: absolute;
    content: '';
    left: 0;
    width: 0%;
    height: calc(100vw / (1920 / var(--sticky-info-border-after-height)));
    border-top: calc(100vw / (1920 / var(--sticky-info-border-after-height))) solid rgb(44, 54, 57);
    transition: all 1s linear;
    animation: sticky-info-border 5s infinite;
}

.sticky-info .info-container {
    width: calc((100vw / (1920 / var(--sticky-info-container-width))) + 0.1%);
    text-align: left;
}

.sticky-info .info-container p {
    display: flex;
    align-items: center;
}

.sticky-info p::before {
    content: 'Under Development';
    font-size: calc(100vw / (1920 / var(--sticky-info-container-text)));
}

.sticky-info p::after {
    transition: all .5s linear;
    animation: sticky-info-dots 1.5s infinite;
    font-size: calc(100vw / (1920 / var(--sticky-info-container-text)));
    content: '.';
}

/* STICKY INFO */

/* NAVBAR */

.navbar {
    background-color: rgb(44, 54, 57);
    color: #fff;
    height: calc(100vw / (1920 / var(--navbar-height)));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(100vw / (1920 / var(--navbar-padding)));
    position: relative;
    z-index: 2;
}

.navbar .menu {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    gap: calc(100vw / (1920 / var(--navbar-menu-gap)));
    padding: 0px calc(100vw / (1920 / var(--navbar-menu-padding)));
}

.navbar .menu a {
    padding: calc(100vw / (1920 / var(--navbar-menu-a-padding)));
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: calc(100vw / (1920 / var(--navbar-menu-a-font-size)));
    transition: all .5s linear;
    position: relative;
    display: flex;
}

.navbar .menu a.active {
    background-color: rgb(220, 215, 201);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #222;
    display: flex;
    justify-content: center;
    animation: menu-item-anim 1s forwards;
}

.navbar .menu a.active::before {
    top: 100%;
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    border-left: calc(100vw / (1920 / var(--navbar-menu-a-active-border))) solid transparent;
    border-right: calc(100vw / (1920 / var(--navbar-menu-a-active-border))) solid transparent;
    border-top: calc(100vw / (1920 / var(--navbar-menu-a-active-border-top))) solid rgb(220, 215, 201);
}

.navbar .menu a.page::after {
    top: 105%;
    left: 0px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    color: rgb(220, 215, 201);
}

.navbar .menu a.page:hover::after {
    animation: arrow-to-right .6s forwards;
    content: '\f061';
    text-align: right;
}

.navbar .menu a.page:hover {
    background-color: rgb(220, 215, 201);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #222;
    animation: menu-item-anim 1s forwards;
}

.navbar .profile-photo {
    height: 100%;
    width: calc(100vw / (1920 / var(--navbar-profile-photo-width)));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .profile-photo::after {
    content: '<> Melihcan Sahin </>';
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px calc(100vw / (1920 / var(--navbar-profile-photo-after-padding)));
    width: calc(100vw / (1920 / var(--navbar-profile-photo-after-width)));
    top: calc(100vw / (1920 / var(--navbar-profile-photo-after-top)));
    position: absolute;
    color: rgb(44, 54, 57);
    background: none;
    background-size: 100% 100%;
    font-weight: 600;
    font-size: calc(100vw / (1920 / var(--navbar-profile-photo-after-font-size)));
    font-family: 'M PLUS 1 Code', monospace;
    border-right: calc(100vw / (1920 / var(--navbar-profile-photo-after-border-right))) solid transparent;
    white-space: nowrap;
    letter-spacing: calc(100vw / (1920 / var(--navbar-profile-photo-after-letter-spacing)));
    overflow: hidden;
    transition: all 1s linear;
    animation:
        name-effect 4s steps(40, end),
        caret-effect .5s step-end 10;
}

.navbar .profile-photo .img-container {
    top: calc(100vw / (1920 / var(--navbar-profile-photo-img-container-top)));
    width: calc(100vw / (1920 / var(--navbar-profile-photo-img-container-width)));
    height: calc(100vw / (1920 / var(--navbar-profile-photo-img-container-width)));
    position: absolute;
    border-radius: 100% 100%;
    border: calc(100vw / (1920 / var(--navbar-profile-photo-img-container-border))) solid rgb(44, 54, 57);
    user-select: none;
    overflow: hidden;
}

.navbar .profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 100% 100%;
    position: absolute;
    object-fit: cover;
    transition: all .5s linear;
}

.navbar .profile-photo img:hover {
    filter: sepia(100%);
    scale: 1.05;
}

/* NAVBAR END */

/* SECTION CONTAINER */

.container {
    display: flex;
    margin-top: calc(100vw / (1920 / var(--container-margin-top)));
    justify-content: center;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    position: relative;
    z-index: 1;
}

.container .project-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    min-height: calc(100vw / (1920 / var(--project-container-min-height)));
    padding: calc(100vw / (1920 / var(--project-container-padding-top))) calc(100vw / (1920 / var(--project-container-padding-left)));
}

.container .project-container .title {
    padding: calc(100vw / (1920 / var(--project-container-title-padding)));
    width: 100%;
    display: flex;
    align-items: center;
}

.container .project-container .title p {
    font-size: calc(100vw / (1920 / var(--project-container-title-p-font-size)));
    font-weight: 600;
    padding: 0px 5% 0px 5%;
    border-bottom: calc(100vw / (1920 / var(--project-container-title-p-border))) solid rgb(165, 165, 165);
}

.container .project-container .project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: calc(100vw / (1920 / var(--project-container-project-padding))) 0px;
    border-bottom: calc(100vw / (1920 / var(--project-container-project-border-bottom))) solid wheat;
}

.container .project-container .project .project-name {
    color: white;
    transition: all .5s linear;
    cursor: pointer;
    margin-bottom: calc(100vw / (1920 / var(--project-container-project-name-margin-bottom)));
}

.container .project-container .project .project-name:hover {
    color: wheat;
    text-shadow: 0px 0px calc(100vw / (1920 / var(--project-container-project-name-hover-text-shadow))) rgb(44, 54, 57);
}

.container .project-container .project span.project-title {
    font-size: calc(100vw / (1920 / var(--project-container-project-project-title-font-size)));
    text-shadow: 0px 0px calc(100vw / (1920 / var(--project-container-project-project-title-text-shadow))) gray;
    padding: calc(100vw / (1920 / var(--project-container-project-project-title-padding)));
    margin-bottom: calc(100vw / (1920 / var(--project-container-project-project-title-margin-bottom)));
}

.container .project-container .project .divider {
    display: flex;
    width: 100%;
    height: 100%;
    gap: calc(100vw / (1920 / var(--project-container-project-divider-gap)));
}

.container .project-container .project .divider .project-images {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(100vw / (1920 / var(--project-container-project-divider-project-images-column))) calc(100vw / (1920 / var(--project-container-project-divider-project-images-column)));
    grid-template-rows: calc(100vw / (1920 / var(--project-container-project-divider-project-images-row)));
    grid-auto-rows: calc(100vw / (1920 / var(--project-container-project-divider-project-images-row)));
    padding: calc(100vw / (1920 / var(--project-container-project-divider-project-images-padding))) 0px;
    gap: calc(100vw / (1920 / var(--project-container-project-divider-project-images-gap)));
}

.container .project-container .project .divider .project-images .item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: calc(100vw / (1920 / var(--project-container-project-divider-project-images-item-border-radius)));
    transition: all .3s linear;
}

.container .project-container .project .divider .project-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s linear;
}

.container .project-container .project .divider .project-images .item:hover {
    box-shadow: 0px 0px calc(100vw / (1920 / var(--project-container-project-divider-project-images-item-hover-box-shadow))) white;
    border: calc(100vw / (1920 / var(--project-container-project-divider-project-images-item-hover-border))) solid white;
}

.container .project-container .project .divider .project-images .item:hover img {
    transform: scale(1.05);
}

.container .project-container .project .divider .project-about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: calc(100vw / (1920 / var(--project-container-project-divider-project-about-gap)));
    margin-top: calc(100vw / (1920 / var(--project-container-project-divider-project-about-margin)));
    height: calc(100vw / (1920 / var(--project-container-project-divider-project-about-height)));
    padding: calc(100vw / (1920 / var(--project-container-project-divider-project-about-padding))) 0px;
    background-color: transparent;
    border: calc(100vw / (1920 / var(--project-container-project-divider-project-about-border))) solid transparent;
    border-radius: calc(100vw / (1920 / var(--project-container-project-divider-project-about-border-radius)));
    transition: all 1.5s cubic-bezier(0, .6, 1, .61);
    clip-path: polygon(0 0, 100% 0, 100% calc(100vw / (1920 / var(--project-container-project-divider-project-about-clip-path-height))), 0 calc(100vw / (1920 / var(--project-container-project-divider-project-about-clip-path-height))));
    cursor: pointer;
}

.container .project-container .project .divider .project-about:hover {
    border: calc(100vw / (1920 / var(--project-container-project-divider-project-about-hover-border))) solid wheat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.container .project-container .project .divider .project-about span {
    font-size: calc(100vw / (1920 / var(--project-container-project-divider-project-about-span-font-size)));
    color: wheat;
    position: relative;
}

.container .project-container .project .divider .project-about:hover span::before,
.container .project-container .project .divider .project-about:hover span::after {
    content: '';
}

.container .project-container .project .divider .project-about span::before,
.container .project-container .project .divider .project-about span::after {
    content: '\f078';
    position: absolute;
    font-family: 'Font Awesome 6 Free';
    left: 120%;
    font-size: calc(100vw / (1920 / var(--project-container-project-divider-project-about-span-font-size)));
    font-weight: 900;
    text-shadow: 0px 0px calc(100vw / (1920 / var(--project-container-project-divider-project-about-span-after-text-shadow))) gray;
    transition: all 3s linear;
    animation: project-title-hover 3s infinite;
}

.container .project-container .project .divider .project-about span::before {
    top: -20%;
    animation: project-title-hover 3s infinite;
}

.container .project-container .project .divider .project-about span::after {
    top: 20%;
    animation: project-title-hover-2 3s infinite;
}

.container .project-container .project .divider .project-about p {
    font-size: calc(100vw / (1920 / var(--project-container-project-divider-project-about-p-font-size)));
    color: white;
    padding: calc(100vw / (1920 / var(--project-container-project-divider-project-about-p-padding)));
    overflow: hidden;
    margin-right: calc(100vw / (1920 / var(--project-container-project-divider-project-about-p-margin-right)));
}

.container .project-container .project .divider .project-about p:hover {
    overflow-y: scroll;
    margin-right: calc(100vw / (1920 / var(--project-container-project-divider-project-about-p-hover-margin-right)));
}

.container .project-container .project .divider .project-about p::-webkit-scrollbar {
    width: calc(100vw / (1920 / var(--project-container-project-divider-project-about-p-scrollbar-width)));
}

.container .project-container .project .divider .project-about p::-webkit-scrollbar-track {
    margin: calc(100vw / (1920 / var(--project-container-project-divider-project-about-p-scrollbar-track-margin-top))) 0px;
    background-color: transparent;
}

.container .project-container .project .divider .project-about p::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: calc(100vw / (1920 / var(--project-container-project-divider-project-about-p-scrollbar-thumb-border-radius)));
    box-shadow: inset 0px 0px calc(100vw / (1920 / var(--project-container-project-divider-project-about-p-scrollbar-thumb-box-shadow))) white;
}

.container .project-container .project .divider .project-about p::-webkit-scrollbar-thumb:hover {
    background: #555;
    box-shadow: inset 0px 0px calc(100vw / (1920 / var(--project-container-project-divider-project-about-p-scrollbar-thumb-hover-box-shadow))) white;
}

/* CONTAINER END */

/* FOOTER */

.footer {
    background-color: rgb(220, 215, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: calc(100vw / (1920 / var(--footer-padding)));
    height: 100%;
    gap: calc(100vw / (1920 / var(--footer-gap)));
}

.footer span {
    font-size: calc(100vw / (1920 / var(--footer-span-font-size)));
}

.footer .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: calc(100vw / (1920 / var(--footer-socials-gap)));
}

.footer .socials a {
    display: flex;
    height: 100%;
}

.footer .socials img {
    width: 100%;
    height: calc(100vw / (1920 / var(--footer-socials-img-height)));
    object-fit: cover;
}

/* FOOTER END */

@keyframes sticky-info-border {
    50% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes sticky-info-dots {

    16.66% {
        content: '..';
    }

    33.32% {
        content: '...';
    }

    49.98% {
        content: '..';
    }

    66.64% {
        content: '.';
    }

    83.30% {
        content: '';
    }

}

@keyframes name-effect {
    from {
        width: 0px;
    }

    to {
        width: calc(100vw / (1920 / var(--navbar-profile-photo-after-width)));
    }
}

@keyframes caret-effect {

    0% {
        border-right-color: transparent;
    }

    50% {
        border-right-color: rgb(44, 54, 57);
    }

    100% {
        border-right-color: transparent;
    }
}

@keyframes project-title-hover {
    40% {
        top: -2%;
    }

    80% {
        top: -20%;
    }
}

@keyframes project-title-hover-2 {
    40% {
        top: 22%;
    }

    80% {
        top: 0%;
    }
}

@keyframes menu-item-anim {
    100% {
        border-radius: calc(100vw / (1920 / var(--navbar-menu-a-hover-border-top))) calc(100vw / (1920 / var(--navbar-menu-a-hover-border-left)));
    }
}

@keyframes arrow-to-right {
    0% {
        right: 100%;
    }

    100% {
        right: calc(100vw / (1920 / var(--navbar-menu-a-page-hover-after-right)));
    }

}


@media screen and (orientation: portrait) {

    :root {
        --res-sticky-info-padding: 10;
        --res-sticky-info-height: 30;
        --res-sticky-info-border-height: 2;
        --res-sticky-info-border-top: 5;
        --res-sticky-info-info-container-width: 165;
        --res-sticky-info-p-font-size: 16;
        /*  */
        --res-navbar-menu-height: 120;
        --res-navbar-menu-padding-top: 15;
        --res-navbar-menu-padding-left: 30;
        /*  */
        --res-navbar-menu-a-height: 50;
        --res-navbar-menu-a-font-size: 20;
        --res-navbar-menu-a-active-border-top: 10;
        --res-navbar-menu-a-active-border-left: 20;
        --res-menu-a-page-hover-menu-item-anim-border-radius-top: 15;
        --res-menu-a-page-hover-menu-item-anim-border-radius-left: 3;
        /*  */
        --res-navbar-profile-photo-img-container-top: 35;
        --res-navbar-profile-photo-img-container-width: 120;
        --res-navbar-profile-photo-img-container-border: 4;
        /*  */
        --res-navbar-profile-photo-after-padding-left: 6;
        --res-navbar-profile-photo-after-width: 175;
        --res-navbar-profile-photo-after-top: 85;
        --res-navbar-profile-photo-after-font-size: 15;
        --res-navbar-profile-photo-after-border-right: 2;
        --res-navbar-profile-photo-after-letter-spacing: 1;
        /*  */
        --res-container-margin-top: 65;
        /*  */
        --res-container-project-container-padding: 15;
        /*  */
        --res-container-project-container-title-padding: 5;
        --res-container-project-container-title-p-font-size: 27;
        --res-container-project-container-title-p-border-bottom: 3;
        --res-container-project-container-title-p-after-border-top: 2;
        --res-container-project-container-title-p-after-top: 2;
        /*  */
        --res-container-project-container-project-padding: 5;
        --res-container-project-container-project-border-bottom: 1;
        --res-container-project-container-project-margin-bottom: 5;
        /*  */
        --res-container-project-container-project-name-margin-bottom: 10;
        --res-container-project-container-project-name-hover-text-shadow: 10;
        /*  */
        --res-container-project-container-project-project-title-font-size: 18;
        --res-container-project-container-project-project-title-padding: 15;
        --res-container-project-container-project-project-title-text-shadow: 10;
        /*  */
        --res-container-project-container-project-divider-gap: 10;
        /*  */
        --res-container-project-container-project-divider-project-images-column-width: 181;
        --res-container-project-container-project-divider-project-images-row-height: 109;
        --res-container-project-container-project-divider-project-images-gap: 10;
        --res-container-project-container-project-divider-project-images-padding: 5;
        --res-container-project-container-project-divider-project-images-item-border-radius: 4;
        --res-container-project-container-project-divider-project-images-item-hover-box-shadow: 10;
        --res-container-project-container-project-divider-project-images-item-hover-border: 1;
        /*  */
        --res-container-project-container-project-divider-project-about-gap: 20;
        --res-container-project-container-project-divider-project-about-margin-top: 20;
        --res-container-project-container-project-divider-project-about-padding-top: 20;
        --res-container-project-container-project-divider-project-about-border: 1;
        --res-container-project-container-project-divider-project-about-border-radius: 10;
        /*  */
        --res-container-project-container-project-divider-project-about-span-font-size: 18;
        --res-container-project-container-project-divider-project-about-span-padding-top: 10;
        --res-container-project-container-project-divider-project-about-span-padding-left: 2;
        /*  */
        --res-container-project-container-project-divider-project-about-p-font-size: 14;
        --res-container-project-container-project-divider-project-about-p-padding: 20;
        /*  */

        --res-footer-padding: 5;
        --res-footer-gap: 5;
        --res-footer-span-font-size: 14;
        --res-footer-socials-gap: 8;
        --res-footer-socials-img-height: 20;
        --res-footer-margin-bottom: 35;

    }

    /* STICKY INFO RESPONSIVE */

    .sticky-info {
        background-color: rgb(220, 215, 201);
        position: fixed;
        bottom: 0;
        padding: calc(100vw / (412 / var(--res-sticky-info-padding)));
        align-items: center;
        height: calc(100vh / (915 / var(--res-sticky-info-height)));
    }

    .sticky-info .left-border,
    .sticky-info .right-border {
        height: calc(100vh / (915 / var(--res-sticky-info-border-height)));
    }

    .sticky-info .right-border::after,
    .sticky-info .left-border::after {
        border-top: calc(100vh / (915 / var(--res-sticky-info-border-top))) solid rgb(44, 54, 57);
    }

    .sticky-info .info-container {
        width: 100%;
        text-align: left;
    }
    .sticky-info p {
        justify-content: center;
    }

    .sticky-info p::before {
        font-size: calc(100vh / (915 / var(--res-sticky-info-p-font-size)));
    }

    .sticky-info p::after {
        animation: none;
        content: '';
    }

    /* STICKY INFO RESPONSIVE END */

    /* NAVBAR RESPONSIVE */

    .navbar {
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .navbar .menu {
        width: 50%;
        gap: 0;
        padding: calc(100vh / (915 / var(--res-navbar-menu-padding-top))) calc(100vw / (412 / var(--res-navbar-menu-padding-left)));
        height: calc(100vh / (915 / var(--res-navbar-menu-height)));
    }

    .navbar .menu a {
        height: calc(100vh / (915 / var(--res-navbar-menu-a-height)));
        font-size: calc(100vw / (412 / var(--res-navbar-menu-a-font-size)));
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .navbar .menu a.active::before {
        top: 99%;
        border-left: calc(100vw / (412 / var(--res-navbar-menu-a-active-border-left))) solid transparent;
        border-right: calc(100vw / (412 / var(--res-navbar-menu-a-active-border-left))) solid transparent;
        border-top: calc(100vw / (412 / var(--res-navbar-menu-a-active-border-top))) solid rgb(220, 215, 201);
    }

    .navbar .profile-photo {
        height: 100%;
        width: 40%;
    }

    .navbar .profile-photo::after {
        padding: 0px calc(100vw / (412 / var(--res-navbar-profile-photo-after-padding-left)));
        width: calc(100vw / (412 / var(--res-navbar-profile-photo-after-width)));
        top: calc(100vw / (412 / var(--res-navbar-profile-photo-after-top)));
        font-size: calc(100vw / (412 / var(--res-navbar-profile-photo-after-font-size)));
        border-right: calc(100vw / (412 / var(--res-navbar-profile-photo-after-border-right))) solid transparent;
        white-space: nowrap;
        letter-spacing: calc(100vw / (412 / var(--res-navbar-profile-photo-after-letter-spacing)));
    }

    .navbar .profile-photo .img-container {
        top: calc(100vw / (412 / var(--res-navbar-profile-photo-img-container-top)) * -1);
        width: calc(100vw / (412 / var(--res-navbar-profile-photo-img-container-width)));
        height: calc(100vw / (412 / var(--res-navbar-profile-photo-img-container-width)));
        border-radius: 100% 100%;
        border: calc(100vw / (412 / var(--res-navbar-profile-photo-img-container-border))) solid rgb(44, 54, 57);
    }

    .navbar .profile-photo img {
        width: 100%;
        height: 100%;
        border-radius: 100% 100%;
        object-fit: cover;
        transition: all .5s linear;
    }

    /* NAVBAR RESPONSIVE END */

    /* SECTION CONTAINER RESPONSIVE */

    .container {
        margin-top: calc(100vw / (412 / var(--res-container-margin-top)));
    }

    .container .project-container {
        padding: calc(100vw / (412 / var(--res-container-project-container-padding)));
    }

    .container .project-container .title {
        padding: calc(100vw / (412 / var(--res-container-project-container-title-padding)));
    }

    .container .project-container .title p {
        font-size: calc(100vw / (412 / var(--res-container-project-container-title-p-font-size)));
        border-bottom: calc(100vw / (412 / var(--res-container-project-container-title-p-border-bottom))) solid rgb(165, 165, 165);
        position: relative;
    }

    .container .project-container .title p::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-top: calc(100vw / (412 / var(--res-container-project-container-title-p-after-border-top))) solid wheat;
        top: calc(100% + (100vh / (915 / var(--res-container-project-container-title-p-after-top))));
        left: 0;
    }

    .container .project-container .project {
        padding: calc(100vw / (412 / var(--res-container-project-container-project-padding)));
        border-bottom: calc(100vw / (412 / var(--res-container-project-container-project-border-bottom))) solid white;
        margin-bottom: calc(100vh / (915 / var(--res-container-project-container-project-margin-bottom)));
    }

    .container .project-container .project .project-name {
        margin-bottom: calc(100vh / (915 / var(--res-container-project-container-project-name-margin-bottom)));
    }

    .container .project-container .project .project-name:hover {
        color: wheat;
        text-shadow: 0px 0px calc(100vw / (412 / var(--res-container-project-container-project-name-hover-text-shadow))) rgb(44, 54, 57);
    }

    .container .project-container .project span.project-title {
        font-size: calc(100vw / (412 / var(--res-container-project-container-project-project-title-font-size)));
        text-shadow: 0px 0px calc(100vw / (412 / var(--res-container-project-container-project-project-title-text-shadow))) gray;
        padding: calc(100vw / (412 / var(--res-container-project-container-project-project-title-padding)));
    }

    .container .project-container .project .divider {
        gap: calc(100vw / (412 / var(--res-container-project-container-project-divider-gap)));
    }

    .container .project-container .project .divider .project-images {
        grid-template-columns: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-images-column-width))) calc(100vw / (412 / var(--res-container-project-container-project-divider-project-images-column-width)));
        grid-template-rows: calc(100vh / (915 / var(--res-container-project-container-project-divider-project-images-row-height)));
        grid-auto-rows: calc(100vh / (915 / var(--res-container-project-container-project-divider-project-images-row-height)));
        padding: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-images-padding))) 0px;
        gap: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-images-gap)));
    }

    .container .project-container .project .divider .project-images .item {
        border-radius: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-images-item-border-radius)));
    }

    .container .project-container .project .divider .project-images .item:hover {
        box-shadow: 0px 0px calc(100vw / (412 / var(--res-container-project-container-project-divider-project-images-item-hover-box-shadow))) white;
        border: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-images-item-hover-border))) solid white;
    }

    .container .project-container .project .divider .project-about {
        gap: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-about-gap)));
        margin: calc(100vh / (915 / var(--res-container-project-container-project-divider-project-about-margin-top))) 0px;
        height: 100%;
        padding: calc(100vh / (915 / var(--res-container-project-container-project-divider-project-about-padding-top))) 0px;
        background-color: transparent;
        border: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-about-border))) solid wheat;
        border-radius: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-about-border-radius)));
        transition: none;
        clip-path: none;
    }

    .container .project-container .project .divider .project-about:hover {
        border: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-about-border))) solid wheat;
        clip-path: none;
    }

    .container .project-container .project .divider .project-about span {
        font-size: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-about-span-font-size)));
        padding: calc(100vh / (915 / var(--res-container-project-container-project-divider-project-about-span-padding-top))) calc(100vw / (412 / var(--res-container-project-container-project-divider-project-about-span-padding-left)));
        border-bottom: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-about-border))) solid wheat;
    }

    .container .project-container .project .divider .project-about span::before,
    .container .project-container .project .divider .project-about span::after {
        content: '';
    }

    .container .project-container .project .divider .project-about p {
        font-size: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-about-p-font-size)));
        color: white;
        padding: calc(100vw / (412 / var(--res-container-project-container-project-divider-project-about-p-padding)));
        overflow: hidden;
        margin-right: 0;
    }

    .container .project-container .project .divider .project-about p:hover {
        overflow-y: hidden;
        margin-right: 0;
    }

    /* CONTAINER END RESPONSIVE */

    /* FOOTER RESPONSIVE */

    .footer {
        padding: calc(100vw / (412 / var(--res-footer-padding)));
        gap: calc(100vw / (412 / var(--res-footer-gap)));
        margin-bottom: calc(100vh / (915 / var(--res-footer-margin-bottom)));
    }

    .footer span {
        font-size: calc(100vw / (412 / var(--res-footer-span-font-size)));
    }

    .footer .socials {
        height: 100%;
        gap: calc(100vw / (412 / var(--res-footer-socials-gap)));
    }

    .footer .socials img {
        width: 100%;
        height: calc(100vw / (412 / var(--res-footer-socials-img-height)));;
        object-fit: cover;
    }

    /* FOOTER END RESPONSIVE */

    .row {
        flex-direction: column !important;
    }

    .row-reverse {
        flex-direction: column !important;
    }


    /* SECTION CONTAINER RESPONSIVE END */


    @keyframes menu-item-anim {
        100% {
            border-radius: calc(100vh / (915 / var(--res-menu-a-page-hover-menu-item-anim-border-radius-top))) calc(100vh / (915 / var(--res-menu-a-page-hover-menu-item-anim-border-radius-left)));
        }
    }

    @keyframes name-effect {
        from {
            width: 0px;
        }

        to {
            width: 175px;
        }
    }
}
